<section class="h-intro">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  medium-5">
                <div class="trans-mid  hide-for-small-only">
                    {% for asset in entry.image %}
                        <img src="{{ asset.Url }}" width="{{ asset.getWidth }}" height="{{ asset.getHeight }}"  alt="{{ asset.filename }}">
                    {% endfor %}
                </div>
            </div>
            <div class="cell  medium-12  large-10">

                <div class="h-intro__p  h-intro__p--basic">
                    {{entry.introduction}}
                </div>
                
        </div>
    </div>
</section>