{% if entry.clubAssets %}

<section class="section  section__pt0  bg-white  assets black">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  assets__border">
            <div class="cell  medium-5  large-4  assets__border--r">
                <h3 class="assets__title">Download the club logos</h3>
                <a href="#" class="asset__download">
                    <div class="grid-x  align-middle  assets__item">
                        <div class="cell  shrink">
                            <div class="assets__icon"></div>
                        </div>
                        <div class="cell  auto">
                            <p class="assets__s-title  light">Adult logos</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="asset__download">
                    <div class="grid-x  align-middle  assets__item">
                        <div class="cell  shrink">
                            <div class="assets__icon"></div>
                        </div>
                        <div class="cell  auto">
                            <p class="assets__s-title  light">Junior logos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cell  medium-7  large-8">
                <div class="assets__padding">
                    <h3 class="assets__title">Club colours</h3>
                    
                    <div class="grid-x  align-middle  assets__item">
                        <div class="cell  shrink">
                            <div class="assets__icon  assets__icon--square  bg-gold"></div>
                        </div>
                        <div class="cell  auto">
                            <p class="assets__s-title  light">
                                #E1A100  <span class="assets__break">|</span>  
                                R=00 G=00 B=00  <span class="assets__break">|</span>  
                                C=00 M=00 Y=00 K=00
                            </p>
                        </div>
                    </div>
                    <div class="grid-x  align-middle  assets__item">
                        <div class="cell  shrink">
                            <div class="assets__icon  assets__icon--square  bg-red"></div>
                        </div>
                        <div class="cell  auto">
                            <p class="assets__s-title  light">
                                #6C0A0F  <span class="assets__break">|</span>  
                                R=00 G=00 B=00  <span class="assets__break">|</span>  
                                C=00 M=00 Y=00 K=00
                            </p>
                        </div>
                    </div>
                    <div class="grid-x  align-middle  assets__item">
                        <div class="cell  shrink">
                            <div class="assets__icon  assets__icon--square  bg-black"></div>
                        </div>
                        <div class="cell  auto">
                            <p class="assets__s-title  light">
                                #000000  <span class="assets__break">|</span>  
                                R=00 G=00 B=00  <span class="assets__break">|</span>  
                                C=00 M=00 Y=00 K=00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}