<section class="bg-white  assets  black">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  assets__border">
            <div class="cell  medium-4">
                <h3>Download the club logos</h3>
                <div class="grid-x  align-middle  assets__item">
                    <div class="cell  small-3">
                        <div class="assets__icon"></div>
                    </div>
                    <div class="cell  small-9">
                        <p class="assets__title  light">Adult logos</p>
                    </div>
                </div>
                <div class="grid-x  align-middle  assets__item">
                    <div class="cell  small-3">
                        <div class="assets__icon"></div>
                    </div>
                    <div class="cell  small-9">
                        <p class="assets__title  light">Junior logos</p>
                    </div>
                </div>
            </div>
            <div class="cell  medium-8">
                <h3>Club colours</h3>
            </div>
        </div>
    </div>
</section>