<section class="section  contact">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  small-12">
                <h1 class="contact__title">All new players welcome. Contact a member of staff below or feel free to turn up at a training session. Drifters 1st XV play in Southern Counties North.</h1>
            </div>
            <div class="cell  small-12  medium-4">
                <h3 class="contact__h2  light  caps">ADDRESS</h3>
                <p>
                    Farnham Common Sports Club<br>
                    One Pin Lane<br>
                    Farnham Common<br>
                    Buckinghamshire<br>
                    SL2 3QY
                </p>
            </div>
            <div class="cell  small-12  medium-4  contact__boder-l-r">
                <div class="contact__cell-p">
                    <h3 class="contact__h2  light  caps">CONTACT DETAILS</h3>
                    <p class="contact__a">T: <a class="white" href="tel:01753644190">01753 644190</a></p>
                    <p class="contact__a">E: <a class="white" href="mailto:example@driftersrfc.com">example@driftersrfc.com</a></p>
                </div>
            </div>
            <div class="cell  small-12  medium-4">
                <h3 class="contact__h2  light  caps">SOCIAL MEDIA</h3>
            </div>
        </div>
    </div>
</section>