<section class="h-intro">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  medium-5">
                <div class="h-intro__sponsers  trans-mid">
                </div>
                <div class="trans-mid">
                    <h1>Drifters RFC</h1>
                    <p>Welcome to the official Drifters Rugby Football Club website. We are a friendly rugby union club, situated in Farnham Common on the Buckinghamshire/Berkshire border between Beaconsfield and Slough.</p>
                    <p><a href="#">Read more</a></p>
                </div>
            </div>
            <article class="cell  medium-7  large-6  large-offset-1">
                <h1>RESULTS</h1>
                <table>
                    <tbody>
                        <tr>
                            <td><h3>1st XV 50 — Bletchley 0</h3></td>
                            <td>Sat 6 Oct 15:00<br>South West Division</td>
                        </tr>
                        <tr>
                            <td><h3>1st XV 20 — Wheatley 12</h3></td>
                            <td>Sat 6 Oct 15:00<br>South West Division</td>
                        </tr>
                        <tr>
                            <td><h3>Tadley 36 — 1st XV 14</h3></td>
                            <td>Sat 6 Oct 15:00<br>South West Division</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="button">View results</button>
            </article>
        </div>
    </div>
</section>