<section class="h-intro">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  medium-5">
                {% if craft.request.getUrl() in urls %}
                <div class="h-intro__sponsers  trans-mid  trans-mid--ani  hide-for-small-only">
                    <h4 class="black">Club Sponsors</h4>
                    {% for asset in entry.mainSponsors %}
                        <img src="{{ asset.Url }}" width="{{ asset.getWidth }}" height="{{ asset.getHeight }}"  alt="{{ asset.filename }}">
                    {% endfor %}
                </div>

                {% else %}

                <div class="trans-mid">
                    {% for asset in entry.image %}
                        <img src="{{ asset.Url }}" width="{{ asset.getWidth }}" height="{{ asset.getHeight }}"  alt="{{ asset.filename }}">
                    {% endfor %}
                </div>

                {% endif %}

                <div class="trans-mid">

                    {% if craft.request.getUrl() in urls %}
                    <h1 class="caps  light  gold  h-intro__title">
                        <span class="bold">Drifters</span> RFC
                    </h1>
                    {% endif %}

                    <p class="h-into__p">{{entry.introduction}}</p>
                    
                    {% if craft.request.getUrl() in urls %}
                        <p><a href="#" class="bold  gold">Read more</a></p>
                    {% else %}
                
                    
                    <a href="{{ entry.leagueTable }}" target="_blank">
                        <button class="button  caps">View league table</button>
                    </a>
                    

                    {% endif %}
                </div>
            </div>
            {% if craft.request.getUrl() in urls %}
                {% include "_partials/_home-results" %} 
            {% else %}
                {% include "_partials/_results" %} 
            {% endif %}
        </div>
    </div>
</section>