<section class="h-intro">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  medium-5">
                <div class="h-intro__sponsers  trans-mid">
                    {% if craft.request.getUrl() in urls %}
                        <h4 class="black">Club Sponsers</h4>
                    {% endif %}
                </div>
                <div class="trans-mid">
                    {% if craft.request.getUrl() in urls %}
                    <h1 class="caps  light  gold">
                        <span class="bold">Drifters</span> RFC
                    </h1>
                    {% endif %}

                    <p class="h-into__p">All new players welcome. Contact a member of staff below or feel free to turn up at a training session.</p>

                    <p class="h-into__p">Drifters 1st XV play in Southern Counties North.</p>
                    
                    {% if craft.request.getUrl() in urls %}
                    <p><a href="#" class="bold  gold">Read more</a></p>

                    {% else %}

                    <button class="button  caps">View league table</button>

                    {% endif %}
                </div>
            </div>
            {% include "_partials/_results" %} 
        </div>
    </div>
</section>