
{% if entry.section3 | length %}

<section class="section  section__pt0  bg-white  h-youth">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-middle">
            
            <div class="cell  small-12  medium-6">
                {% for picture in entry.section3.type('imageBlock').all() %}
                    {% for asset in picture.image %}
                    <div class="h-youth__img">
                        <img src="{{ asset.Url }}" width="{{ asset.getWidth }}" height="{{ asset.getHeight }}"  alt="{{ asset.filename }}">
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="cell  small-12  medium-6">
                {% for block in entry.section3.type('textBlock').all() %}
                <div class="h-youth__padding">
                    
                        <h1 class="h1  red  light">{{block.blockTitle}}</h1>
                        <p class="reg  black">{{block.blockText}}</p>
                        {% for entry in block.blockLink %}
                        <a href="{{ entry.url }}" class="h-youth__a  gold  bold">Read more</a>
                        {% endfor %}
                    
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endif %}