<section class="section  bg-white  h-youth">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-middle">
            <div class="cell  small-12  medium-6">

                    <div class="h-youth__img"></div>

            </div>
            <div class="cell  small-12  medium-6">
                <div class="h-youth__padding">
                    <h1 class="h1  red">YOUTH RUGBY</h1>
                    <p class="reg  black">Welcome to the official Drifters Rugby Football Club website. We are a friendly rugby union club, situated in Farnham Common on the Buckinghamshire/Berkshire border.</p>
                    <a href="#" class="gold  bold">Read more</a>
    
                    <h1 class="h1  red  h-youth__title">RUGBY TOTS</h1>
                    <p class="reg  black">Welcome to the official Drifters Rugby Football Club website. We are a friendly rugby union club, situated in Farnham Common on the Buckinghamshire/Berkshire border.</p>
                    <a href="#" class="gold  bold">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>