{% switch entry.section.handle %}  
{% case 'teams' %}

{% for asset in entry.backgroundImage %}
<section class="hero  hero--small  text-center" style="background-image: url('{{ asset.url }}');">
{% endfor %}

{% default %}

{% for asset in entry.backgroundImage %}
<section class="hero  hero--small  hero--bottom  text-center"  style="background-image: url('{{ asset.url }}');">
{% endfor %}

{% endswitch %}
    <div class="grid-container  hero__container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  small-12">
                {% switch entry.section.handle %}  
                {% case 'teams' %}
                        <h1 class="caps  hero__team"><span class="bold  gold">DRIFTERS RFC</span> {{ entry.title }}</h1>
                {% default %}
                    <h1 class="gold  bold  caps">{{ entry.title }}</h1>
                {% endswitch %}
            </div>
        </div>
    </div>
</section>