<section class="players  hide-for-small-only  bg-white">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-middle">
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__padding">
                    <h3 class="gold">GET IN TOUCH</h3>
                    <p class="players__contact">EMAIL: example@example.com</p>
                    <p class="players__contact  players__contact--m0">TEL: 00000 000000</p>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>
            <article class="cell  medium-4">
                <div class="players__img">
                    <div class="players__text">
                        <h1 class="players__title  bold">Tom Heeks</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>

        </div>
    </div>
</section>