{% if entry.coaches | length %}
<section class="players  bg-white">
    <div class="grid-container">
        
        <div class="grid-x  grid-padding-x  align-middle">

            {% for coach in entry.coaches %}

            <article class="cell  medium-4"   data-aos="fade-up" data-aos-duration="600">
                <div class="players__img">

                    {% for asset in coach.coachImage %}
                        <img src="{{ asset.Url }}" width="{{ asset.getWidth }}" height="{{ asset.getHeight }}"  alt="{{ asset.filename }}">
                    {% endfor %}

                    <div class="players__text">
                        <h1 class="players__title  bold">{{coach.coachName}}</h1>
                        <p class="gold">COACH</p>
                    </div>
                </div>
            </article>

            {% endfor %}
            
            <article class="cell  medium-4"   data-aos="fade-right" data-aos-duration="600">
                <div class="players__padding">
                    <h3 class="gold">GET IN TOUCH</h3>
                    {% for row in entry.contactDetails %}
                        <p class="players__contact">Email: <a class="black" href="mailto:{{row.coachEmail}}">{{row.coachEmail}}</a></p>
                        {% if row.coachPhone|length %}
                            <p class="players__contact  players__contact--m0">Telephone: <a class="black" href="tel:{{row.coachPhone}}">{{row.coachPhone}}</a></p>
                        {% endif %}
                        {% if row.training|length %}
                            <p>Training: {{ row.training }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </article>

        </div>
        {% endif %}

        {% if entry.players | length %}
        <div class="grid-x  grid-padding-x  align-middle  hide-for-small-only">

            {% for player in entry.players %}
            <article class="cell  medium-4"   data-aos="fade-up" data-aos-duration="600">

                <div class="players__img">
                    {% for asset in player.playerImage %}
                    <img src="{{ asset.Url }}" width="{{ asset.getWidth }}" height="{{ asset.getHeight }}"  alt="{{ asset.filename }}">
                    {% endfor %}
                    <div class="players__text">
                        <h1 class="players__title  bold">{{ player.playerName }}</h1>
                        <p class="gold  caps">{{ player.playerPosition }}</p>
                    </div>
                </div>

            </article>
            {% endfor %}
            

        </div>
        
    </div>
</section>
{% endif %}