<section class="bg-white  single  black">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  small-12  large-10  reg">
                <p>Welcome to the official Drifters Rugby Football Club website. We are a friendly rugby union club, situated in Farnham Common on the Buckinghamshire/Berkshire border between Beaconsfield and Slough.

                <p>The Rugby Club runs three senior adult male sides and a colts team. The 1st XV compete in Southern Counties North, the 2nd XV in Berks Bucks & Oxon Division 2, and the 3rd XV in Thames Valley Invitation League Division A. The Colts play in the OBB Colts Leagues. There is also a Vice President’s/Vets team which plays occasional friendly matches.
                    
                <p>Training is held every Tuesday and Thursday evening at Farnham Common Sports Club from 7-9pm and all abilities are welcome to attend.
                    
                <p>Off the field activities are equally important to the Drifters. We hold barbecues, race nights, discos, annual dinner dances and every Easter we enjoy a Tour (usually overseas) that is the envy of the rugby world! These activities are a key part of the rugby club – we play hard off the field as well as on it! The club’s gold, black and magenta blazer is a familiar local sight on Saturday nights with one nightclub only too pleased to grant wearers free admission!
                    
                    Drifters - an RFU Accredited Club - also has a thriving juniors and minis section that has received the RFU Community Rugby Seal of Approval. For further information on these two sections, click on the links on the left.
                    
                    As part of the larger Farnham Common Sports Club, we also offer exceptional social and changing facilities as well as the opportunity to join our other sports sections. Funding from Sport England and Rugby Football Foundation recently allowed us to complete a significant redevelopment, ensuring that our sports and social facilities remain first class. You are most welcome to join us, whether to play competitive rugby, social rugby or just become a Drifters supporter!
                    
                    Contact details for club officers are available on this site should you have any further questions or if you want to sample what we have to offer. You can also find membership details on this site should you wish to join fully.
                    
                    We hope to see you at the club in the near future!
                    
                    “Be the best you can be”</p>
            </div>
        </div>
    </div>
</section>