{% if sponsors.sponsorsList | length %}
<section class="section  section__pt0  bg-white  black">
    <div class="grid-container">
        <div class="grid-x  grid-margin-x  sponsers  text-center  align-middle">

            {% for block in sponsors.sponsorsList.all() %}
                
                <div class="cell  small-6  medium-3  sponsers__item"  data-aos="fade-up" data-aos-duration="600">
                    <a href="{{ block.webLink }}" target="_blank">
                        {% for asset in block.logo %}
                        <img src="{{ asset.Url }}" width="{{ asset.getWidth }}" height="{{ asset.getHeight }}"  alt="{{ asset.filename }}">
                        {% endfor %}
                    </a>
                </div>
                
            {% endfor %}

            
        </div>
    </div>
</section>
{% endif %}