  
{% set teams = craft.entries.section('teams') %}

<section class="list  list--team  section  bg-white  black">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">

            {% for entry in teams.all() %}
            
            <article class="cell  small-12  medium-4  list__item">
                <a href="{{ entry.url }}">

                    <div class="list__img">
                        {% for asset in entry.image %}
                        <img src="{{ asset.getUrl('rectangle') }}" width="{{ asset.getWidth('rectangle') }}" height="{{ asset.getHeight('rectangle') }}"  alt="{{ asset.filename }}">
                        {% endfor %}
                    </div>

                    <h1 class="list__title  black  caps"  >{{ entry.title }} Team</h1>
                    <p class="bold  gold">View more</p>
                </a>
            </article>
            {% endfor %}
            
        </div>
    </div>
</section>