<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell small-6">
            <h1>Last 3 played games</h1>
            {% set playedGames = 0 %}
            {% for fixture in entry.fixtures.type('fixture').order('sortOrder desc') %}
                {% for game in fixture.games|reverse if (game.played and playedGames < 3) %}
                    {% set playedGames = playedGames + 1 %}
                    <div class="grid-x  grid-padding-x">
                        <div class="cell small-6">
                            {{ game.homeTeam }}
                        </div>
                        <div class="cell small-6">
                            {{ game.awayTeam }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="cell small-6">
            <h1>Fixtures by month</h1>
            {% for fixture in entry.fixtures.type('fixture') %}
                <div class="grid-x  grid-padding-x">
                    <div class="cell">
                        <h2>{{ fixture.month.label }}</h2>
                    </div>
                </div>
                {% for game in fixture.games|slice(0, 3) %}
                    <div class="grid-x  grid-padding-x">
                        <div class="cell small-6">
                            {{ game.homeTeam }}
                        </div>
                        <div class="cell small-6">
                            {{ game.awayTeam }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

