.assets {

    &__border {
        border-top: 1px solid $black;
        padding-top: 4.5rem;
    }
    @include breakpoint(medium) {
        &__border--r {
            border-right: 1px solid $black;
            
        }
    }
    


    &__padding {
        padding-left: 0;
        padding-top: 2.5rem;
        @include breakpoint(medium) {
            padding-left: 3.5rem;
            padding-top: 0;
        }
    }

    &__download {
        width: 100%;
        background: red;
    }

    &__icon {

        &--square {
            border-radius: 0;
            width: 3rem;
            height: 3rem;
            border: none;
        }
    }
    &__title {
        margin: 0 0 2.25rem;
        font-size: 1.5rem;
    }
    &__s-title {
        font-size: 1rem;
        margin: 0 1.5rem;
        color: $black;
        display: inline-block;
        @include breakpoint(medium) {
            font-size: 1.25rem;
        }

    }

    &__break {
        padding: 0 0.25rem;
        @include breakpoint(medium) {
            padding: 0 1rem; 
        }
    }

    &__item {
        margin-bottom: 1rem;
    }
}