.assets {
    &__icon {
        width: 4.5rem;
        height: 4.5rem;
        border: 3px solid $gold;
        border-radius: 50%;
    }
    &__title {
        margin: 0;
        font-size: 1.25rem;
    }

    &__item {
        margin-bottom: 1rem;
    }
}