.contact {
    font-size: 1rem;
    @include breakpoint(large) {
        font-size: 1.25rem;
    }
    &__title {
        font-size: 1.25rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $white;
        margin-bottom: 2.5rem;
        @include breakpoint(medium) {
            font-size: 1.5rem;
            padding-bottom: 3rem;
            margin-bottom: 3.5rem;
        }
        @include breakpoint(large) {
            font-size: 1.75rem;
            padding-bottom: 4rem;
            margin-bottom: 4.5rem;
        }
    }

    &__h2 {
        margin-bottom: 0.5rem;
        @include breakpoint(medium) {
            margin-bottom: 1.5rem;
        }
    }

    @include breakpoint(medium) {
        &__boder-l-r {
            border-left: 1px solid $white;
            border-right: 1px solid $white;
        }
    }

    &__a {
        margin-bottom: 0.25rem;
        @include breakpoint(medium) {
            margin-bottom: 0.75rem;
        }
    }

     
    &__cell-p {
        padding: 1.5rem 0;
        @include breakpoint(medium) {
            padding: 0 2rem;
        }
    }
}