.h-news {
    padding: 2rem 0 12rem;

    @include breakpoint(medium) {
        padding: 0 0 15rem;
    }

    &__img {
        background: $light-gray;
        margin-top: 2rem;
        position: relative;
    }

    &__text {
        background: $black;
        width: 70%;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__title {
        font-size: 1.3rem;
    }

    &__a {
        margin-bottom: 0;
    }
}