.h-news {
    padding: 0 0 15rem;

    &__img {
        height: 20rem;
        background: $light-gray;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__text {
        background: $black;
        width: 70%;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
    }

    &__title {
        font-size: 1.3rem;
    }

    &__a {
        margin-bottom: 0;
    }
}