.h-youth {

    &__img {
        background-color: $dark-gray;
        position: relative;
        margin-top: -6rem;
        margin-bottom: 3rem;
    }
    &__padding {
        position: relative;
        // top: -3rem;
        padding-bottom: 2rem;

        @include breakpoint(medium) {
            padding-left: 3rem;
        }
    }
    &__title {
        margin-top: 2.5rem;
    }

}