.h-youth {
    &__img {
        height: 46rem;
        background-color: $dark-gray;
        position: relative;
        top: -6rem;
    }
    &__padding {
        padding-left: 3rem;
        position: relative;
        top: -3rem;
    }
    &__title {
        margin-top: 2.5rem;
    }

}