.hero {
    min-height: 95vh;
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--small {
        min-height: 70vh;
    }

    &--bottom {
        justify-content: flex-end;
    }

    &__title {
        margin: 5rem 0;
        color: $white;
        font-size: 3.5rem;
        @include breakpoint (medium) {
            margin: 10rem 0;
        }
    }

    &__container {
        width: 100%;
        text-align: left;
    }
}