.hero {
    min-height: 80vh;
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    box-shadow: inset 0 1500px 1500px #000000ad;

    @include breakpoint (medium) {
        min-height: 95vh;
    }

    &--small {
        height: 70vh;
        min-height: 30rem; 
    }

    &--x-small {
        height: 30vh;
        min-height: 30rem;
        
    }

    &--bottom {
        justify-content: flex-end;
        padding-bottom: 5rem;
    }

    &__title {
        margin: 3rem 0 0;
        color: $white;
        font-size: 2.5rem;
        @include breakpoint (medium) {
            margin: 10rem 0;
            font-size: 3.5rem;
        }
        @include breakpoint (large) {
            margin: 10rem 0;
            font-size: 3.5rem;
        }
    }

    &__container {
        width: 100%;
        text-align: left;
    }
}