.players {
    padding: 3rem 0 6rem;
    color: $black;
    &__img {
        margin-top: 3rem;
        position: relative;

    }

    &__text {
        background: $white;
        min-width: 70%;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__title {
        font-size: 1.15rem;
    }

    &__padding {
        padding: 3rem 0 0;
        @include breakpoint(medium) {
            padding: 0 0 0 2rem;
        }
    }
    &__contact {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        &--m0 {
            margin-top: 0;
        }
    }
}