.players {
    padding: 3rem 0 6rem;
    color: $black;
    &__img {
        height: 20rem;
        background: $light-gray;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__text {
        background: $white;
        width: 70%;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
    }

    &__title {
        font-size: 1.15rem;
    }

    &__padding {
        padding: 0 2rem;
    }
    &__contact {
        margin-top: 1.5rem;
        &--m0 {
            margin-top: 0;
        }
    }
}