.results {

    animation: 2s ani-in;

    &__title {
        margin: 2rem 0 1.5rem;
        @include breakpoint(medium) {
            margin: 4rem 0 1.5rem;
        }
    }

    &__table, &__tbody {
        background: none;
        border: none;
    }

    &__tr {
        border-bottom: 1px solid $white;
        padding: 1rem;
        margin: 1rem;
    }
    &__tr:nth-last-child(1) {
        border-bottom: none;
    }


    &__td {
        border-right: 1px solid $white;
        &--r {
            border: none;
            padding-left: 2rem;
        }
    }
  
}


@keyframes ani-in {
    0% {margin-top: 5rem;opacity: 0;}
    50% {margin-top: 5rem;opacity: 0;}
    100% {margin-top: 0;opacity: 1;}
}