<div class="grid-container  drop-nav">
    <div class="grid-x  grid-padding-x  align-center  drop-nav__bg">
        <div class="cell  shrink">
            <ul class="menu  align-center  drop-nav__menu">

                {% for entry in craft.entries.section('teams').all() %}
                    <li><a href="{{ entry.url }}" class="drop-nav__a">{{ entry.title }}</a></li>
                {% endfor %}

                <li><a href="{{ siteUrl }}teams" class="drop-nav__a">View all</a></li>
                
            </ul>
        </div>
    </div>
</div>




 

