<header class="header">
    <div class="grid-container  header__bg">
        <div class="grid-x  grid-padding-x  align-justify  align-middle">
            <div class="cell  shrink  medium-2">
                <h1>D</h1>
            </div>
            <nav class="cell  medium-shrink  hide-for-small-only">
                <ul class="menu  align-center  header__menu">
                    {% include "_core/_nav" %}
                </ul>
            </nav>
            <div class="cell  shrink  medium-2  text-right">
                <button type="button" class="button" data-toggle="offCanvas">MENU</button>
            </div>
        </div>
    </div>
    {% include "_core/_drop-nav" %}
</header>

