<header class="header">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-justify  align-middle  header__bg">
            <div class="cell  shrink  medium-2">
                <img src="{{ siteUrl }}assets/img/drifters-s-logo.png" alt="Drifters_RFC" width="60"  height="60">
            </div>
            <nav class="cell  medium-shrink  hide-for-small-only">
                <ul class="menu">
                    {% include "_core/_nav" %}
                </ul>
            </nav>
            <div class="cell  shrink  medium-2  text-right">
                <div class="menu-i" id="menu-i"  data-toggle="offCanvas">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </div>
    {% include "_core/_drop-nav" %}
</header>

