
<li class="nav__li  show-for-small-only">
    <a class="nav__a" href="{{ siteUrl }}">Home</a>
</li>
<li class="nav__li  show-for-small-only">
    <a class="nav__a" href="{{ siteUrl }}teams">Teams</a>
</li>
<li class="nav__li  show-for-small-only">
    <a class="nav__a" href="{{ siteUrl }}news">News</a>
</li>
<li class="nav__li  show-for-small-only">
    <a class="nav__a" href="{{ siteUrl }}contact">Contact</a>
</li>

<li class="nav__li">
    <a class="nav__a" href="{{ siteUrl }}history">History</a>
</li>

{% for entry in craft.entries.section('pages').all() %}
    <li class="nav__li">
        <a href="{{ entry.url }}" class="nav__a">{{ entry.title }}</a>
    </li>
{% endfor %}