<li class="nav__li">
    <a class="nav__a">Safeguarding</a>
</li>
<li class="nav__li">
    <a class="nav__a">About Drifters</a>
</li>
<li class="nav__li">
    <a class="nav__a">Membership</a>
</li>
<li class="nav__li">
    <a class="nav__a">Rugbytots</a>
</li>
<li class="nav__li">
    <a class="nav__a">DOLLS</a>
</li>
<li class="nav__li">
    <a class="nav__a">Drifters Colours & Assets</a>
</li>
<li class="nav__li">
    <a class="nav__a">Code of Conduct</a>
</li>
<li class="nav__li">
    <a class="nav__a">Facilities @ FCSC</a>
</li>
<li class="nav__li">
    <a class="nav__a">Sponsors</a>
</li>