{#
 # News item template
 # ---------------
#}

{% extends "_layout/_base" %}
{% block content %}

{% include "_partials/_hero-n" %} 

<section class="news-item  bg-white  black">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  small-12  medium-6  black">
                <h1 class="news-item__title  bold">
                    {{ entry.headline }}
                </h1>
                <p class="news-item__sub-title  reg">{{ entry.subHeadline }}</p>
                <hr class="news-item__hr">
                <p class="reg">{{ entry.text }}</p>
                <p class="news-item__date caps">{{ entry.postDate|date }}</p>
            </div>
            <div class="cell  small-12  medium-6">
                {% for asset in entry.image %}
                <img src="{{ asset.getUrl }}" width="{{ asset.getWidth }}" height="{{ asset.getHeight }}"  alt="{{ asset.filename }}">
                {% endfor %}
            </div>
            
        </div>
    </div>
</section>


{% endblock %}