<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="coverage" content="Worldwide">
    <meta name="format-detection" content="telephone=no">
    <title>Drifters RFC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link href="{{ siteUrl }}assets/css/app.css" rel="stylesheet">
    
</head>
<body class="ltr">

    {% include "_core/_sub-menu" %}

    <div class="off-canvas-content" data-off-canvas-content>

    {% include "_core/_header" %}

    <main role="main" class="app-main">
        {% block content %}
            <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
            <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
        {% endblock %}
    </main>

    {% include "_core/_footer" %}

    </div>

    {% includeJsFile siteUrl ~ 'assets/js/app.js' %}
</body>
</html>