.drop-nav {
  display: none;

  &--show {
    display: flex;
    flex-direction: column;
  }

  &__bg {
    background: $gold;
    padding: 0.5rem 0;
  }

  &__a {
    color: $black;
    transition: 0.3s all;
    &:hover {
      color: $red;
    }
  }

}
