.footer {
    padding: 5rem 0;
    background-color: $light-gray;

    &__boarder {
        border-bottom: 2px solid $black;
        @include breakpoint(medium) {
            border-right: 2px solid $black;
            border-bottom: none;
        }
    }

    &__menu {
        .nav__a {
            color: $black;
        }
    }
}