.footer {
    padding: 3rem 0;
    background-color: $light-gray;

    @include breakpoint(medium) {
        padding: 5rem 0;
    }

    &__boarder {
        border-bottom: 1px solid $black;
        padding: 1.5rem 0;
        @include breakpoint(medium) {
            border-right: 1px solid $black;
            border-bottom: none;
            padding: 0;
        }
    }

    &__title {
        margin-top: 1.5rem;
        @include breakpoint(medium) {
            margin-top: 0;
        }
    }

    &__menu {
        .nav__a {
            color: $black;
        }
    }

    // &__align-social {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: flex-start;
    //     align-items: flex-start;
    // }

    
}