.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: $white;
    z-index: 10;

    @include breakpoint(medium) {
        position: absolute;
    }

    &__bg {
        background-color: $black;
        padding: 1rem 0;
    }
}