.nav {
    &__a {
        color: $white;
        margin: 0;
        font-size: 1.15rem;
        &:hover {
            color: $gold;
        }
        &:focus {
            color: $gold;
        }

        &--team:hover {
            .drop-nav {
                display: inline-block;
            }
        }
    }
}