.bg-black {
    background: $black;
    
}

.bg-white {
    background: $white;
    a {
        color: $red;
        font-weight: 900;
    }
}

.bg-red {
    background: $red;
}

.bg-gold {
    background: $gold;
}

.black {
    color: $black;
}
.white {
    color: $white;
}
.red {
    color: $red;
}
.gold {
    color: $gold;
}